.detectedResult {
  color: #ffffff;
  font-size: 16px;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item {
  width: 50px;
  text-align: center;
  font-size: 12px;
}

.topViewImage {
  height: 100px;
  margin: 10px;
}

.drivingModeContainer {
  display: flex;
  text-align: center;
  color: #ffffff9e;
  font-size: 12px;
  padding: 6px;
}

.drivingMode {
  flex: 1;
}

.currentMode {
  color: #ffffff;
}

.iconContainer {
  display: flex;
  text-align: center;
  justify-content: space-around;
  color: #ffffff9e;
  padding-bottom: 6px;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.icon:hover {
  color: #ffffff;
}

.divider {
  height: 1px;
  background-color: #00000070;
}
