.speedPanel {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px;
  user-select: none;
}

.loadingPanel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 10px;
  user-select: none;

  padding: 20px;
  color: #ffffffcf;
  font-size: 24px;
  font-weight: 300;
}

.steeringPanel {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  padding: 10px;
  pointer-events: auto;
  user-select: none;
}

.pedalsPanel {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 30px 10px;
  pointer-events: auto;
  user-select: none;
}
