.speed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin: 10px;
  width: 120px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.speed > * {
  flex: 1;
}

.speedValue {
  color: #ffffff;
  font-size: 44px;
  text-align: center;
}

.speedUnit {
  color: #ffffff;
  font-size: 12px;
}
