.deployButton {
  background-color: #2154a4;
  color: #d9d9d9;
  border-radius: 8px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.deployButton:hover {
  background-color: #285db3;
  color: #ffffff;
}

.disable {
  background-color: #414256;
  color: #66666e;
}

.disable:hover {
  background-color: #414256;
  color: #66666e;
}
