.canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}
.overlayUi {
  position: absolute;
  pointer-events: none;
  height: 100%;
  width: 100%;
}
.container {
  height: 100vh;
  max-height: -moz-available;
  max-height: -webkit-fill-available;
  max-height: fill-available;
}
.main {
  position: relative;
  height: 100%;
}
.codePane {
  background-color: #2d2f3f;
  height: 100%;
}
